.Timer {
  display: flex;
  justify-content: center;
  margin-top: 27vh;
}
body {
  background-image: url(CountdownBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  font-size: 10px;
}
.right-poem {
  display: flex;
  justify-content: right;
  text-align: right;
}
